Source: libkscreen
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Felix Geyer <fgeyer@debian.org>, Rohan Garg <rohan@kde.org>
Build-Depends: debhelper (>= 9), cmake, kdelibs5-dev, libqjson-dev (>= 0.8.0), libxrandr-dev, pkg-kde-tools, pkg-config, libx11-xcb-dev, libxcb-render-util0-dev, libxcb-image0-dev, libxcb-randr0-dev, libxcb-composite0-dev, libxcb-damage0-dev, libxcb-shape0-dev, libxcb-shm0-dev, libxcb-sync0-dev, libxcb-xfixes0-dev, libxcb1-dev, xcb-proto
Standards-Version: 3.9.4
Section: libs
Homepage: https://projects.kde.org/projects/playground/libs/libkscreen

Package: libkscreen-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libkscreen1 (= ${binary:Version}), libqt4-dev
Description: library for screen management - development files
 The KDE multiple monitor support is trying be as smart as possible
 adapting the behavior of it to each use case making the configuration
 of monitors as simple as plugging them to your computer.
 .
 This package contains the files necessary for development.

Package: libkscreen1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for screen management - shared library
 The KDE multiple monitor support is trying be as smart as possible
 adapting the behavior of it to each use case making the configuration
 of monitors as simple as plugging them to your computer.
 .
 This package contains the shared library

Package: libkscreen-dbg
Section: debug
Priority: extra
Architecture: any
Recommends: libqt4-dbg
Depends: ${misc:Depends}, libkscreen1 (= ${binary:Version})
Description: library for screen management - debug info
 The KDE multiple monitor support is trying be as smart as possible
 adapting the behavior of it to each use case making the configuration
 of monitors as simple as plugging them to your computer.
 .
 This package contains the debugging symbols.

