#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --dbg-package=libkscreen-dbg \
	  --list-missing \
	  --with=pkgkde-symbolshelper \
	  --parallel

override_dh_auto_test:
	# requires an X server

override_dh_install:
	dh_install --fail-missing
