#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --dbg-package=libkscreen-dbg \
	    --list-missing \
	    --with kde

# Tests require kscreen
.PHONY: override_dh_auto_test
